<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultat</title>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>
<body>
<div style="text-align: center; margin-top: 75px;">
    <a href="index.html">
        <button class="button">Gå Tilbage</button>
    </a>
</div>

<div id="img-1">
    <img src="../static/assets/img/kommunalvalg-taastrup.png" alt="resultat"
         style="width: 75%; padding-top: 50px"/>
</div>

</body>
</html>